html,
body {
  height: 100%;
}

body {
  background: rgba(255, 0, 255, .5);
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}