html, body, #root {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-wrapper {  
  /* align-items: center;
  display: flex;
  flex-direction: column; */
  height: 100%;
  /* justify-content: center; */
  transition: background-color .225s cubic-bezier(.4, 0, 1, 1);
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: nav;
}

main {
  grid-area: main;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer {
  grid-area: footer;
  padding: 0 .5rem;
}


.stopped {
  background: rgba(255, 0, 255, .5);  
}

.running {
  background: rgba(0, 255, 255, .5);    
}
