html, body, #root {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-wrapper {  
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  transition: background-color .225s cubic-bezier(.4, 0, 1, 1);
  width: 100%;
}

header {
  display: flex;
  grid-area: header;
  justify-content: flex-end;
  padding: .5rem;
}

main {
  align-items: center;
  display: flex;
  grid-area: main;
  justify-content: center;
  text-align: center;
}

footer {
  grid-area: footer;
  padding: .5rem;
}
